
/* styles.css */

body {
  font-family: "Arial", sans-serif;
  background-color: lightcoral;
  color: #333;
  margin: 20px;
}

h1 {
  color: #007bff;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

img {
  border-radius: 50%;
  margin-top: 10px;
}

form {
  margin-top: 20px;
}