/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> */
* {
  box-sizing: border-box;
}

html {
  font-size: -18px;
}

body {
  margin: 0;
  font-family: Open-Sans;
}

a {
  text-decoration: none;
}
